<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744153101634-14dkisi7mbjh25omp92p3giev9rf0qdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744153101634-14dkisi7mbjh25omp92p3giev9rf0qdc</string>
	<key>API_KEY</key>
	<string>AIzaSyASsv-Zq7erzm4JpKznTFl8GZVUtIE_oKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>744153101634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFirebase2</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter2-e6aaf</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter2-e6aaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744153101634:ios:937e2e73f368a4a31804db</string>
</dict>
</plist>